**/.git/
.repo/
install/
hip_vectoradd_test/vector_add
hip_vectoradd_test/kill_kernel_test
kernel_patch/ioctl_tool/ioctl_tool
kernel_patch/ioctl_tool/hip_tester
kernel_patch/ioctl_tool/*.o
**/build/

